<img class="pic" src="/img/<%= pic.name %>" alt="Obrazek"/>
<div class="details">
  <p><%= pic.name %></p>
  <p><%= pic.time.strftime "%d.%m.%y" %></p>
  <p><%= pic.time.strftime "%H:%M:%S %Z" %></p>
  <p>
  <% if pic.previous %>
    <a href="<%= pic.previous.name %>">&laquo;&laquo;</a>
  <% else %>
    &laquo;&laquo;
  <% end %>
  <a href="/">Wszystkie</a>
  <% if pic.next %>
    <a href="<%= pic.next.name %>">&raquo;&raquo;</a>
  <% else %>
    &raquo;&raquo;
  <% end %>
  </p>
  <p>
  <a href="/<%= pic.name %>/vote"/>Sweetaśne!</a>
  </p>
  <% if pic.users.any? %>
    <p>
    Za sweetaśne uznali tę fotę:
    <%= pic.users.map { |u| u.login } .join ', ' %>
    </p>
  <% end %>
</div>
