#details
  %p= pic.name
  %p= pic.time.strftime '%d.%m.%y'
  %p= pic.time.strftime '%H:%M:%S %Z'
  %p
    - if pic.previous
      %a#prev{:href => pic.previous.url_name}
        &laquo;&laquo;
    - else
      &laquo;&laquo;
    %a{:href => :/}
      All pictures
    - if pic.next
      %a#next{:href => pic.next.url_name}
        &raquo;&raquo;
    - else
      &raquo;&raquo;
  %p
    %a{:href => "/#{pic.url_name}/vote"}
      Like it
  %p
    - if pic.users.any?
      People who like it are:
      = pic.users.map { |u| u.name } .join ', '
    - if pic.users.include? current_user
      %a{:href => "/#{pic.url_name}/unvote"}
        Unlike it
  %p You can navigate using your left and right arrow keys.
%img#pic{:src => "/img/#{pic.url_name}", :alt => pic.name}
%script{:src => '/pic.js'}
